@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #1a1a1a;
  background: white;
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}

.animate-draw {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 5s linear alternate infinite;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 1000;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

.gradient-text {
  background: linear-gradient(to right, #15803d, #006cdb);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-text-2 {
  background: linear-gradient(to right, #0333b8, #2983dd);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.loader {
  
}